:root {
    font-size: 62.5%;
    --grey: #666;
    --light-grey: #e6e6e6;
    --white: #fff;
    --danger-color: #c82333;
    --light-danger-color: #f1b0b7;
    --background-color: #f2f7f8;
    --primary-color: #0000cd;
    --light-primary-color: #5555ba;
    --secondary-color: #0066fe;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0;
}


/* FLEXBOX-GRID */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    flex-basis: auto;
}

/* CARDS */
.card {
    background: var(--white);
    border-radius: 5px;
    padding: 10px 20px;
}

/* INPUTS */
.input-wrapper {
    color: var(--grey);
    font-size: 1.5rem;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.input {
    background: var(--light-grey);
    border-radius: 30px;
    border: none;
    color: var(--grey);
    font-family: inherit;
    outline: none;
    padding: 15px 30px 15px 60px;
    width: 100%; 
}

.input-wrapper.error {
    border: 1px solid red;
}

.input:focus {
    border: 2px solid var(--light-primary-color);
}

.input:focus + .input__icon {
    color: var(--primary-color);
    left: 25px;
    transition: all 0.4s;
}

.input__icon {
    align-self: center;
    left: 28px;
    margin-right: 20px;
    position: absolute;
    top: 17px;
    transition: all 0.4s;
}

.input__btn {
    display: block;
}

.input-wrapper--error {
    color: var(--danger-color);
    height: auto;
}

.input-wrapper--error .input {
    border: 3px solid var(--light-danger-color);
}

.input-wrapper--error .input + .input__icon {
    color: var(--danger-color);
}

.input__error-message {
    display: block;
    font-size: 15px;
    padding-left: 30px;
}

/* BUTTONS */
.btn {
    border-radius: 30px;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 0;
    text-transform: uppercase;
}

.btn--primary {
    background: #0000cd;
}

.btn--primary:hover,
.btn--primary:focus {
    background: var(--secondary-color);
    transition: background 0.3s;
}

/* LOGIN */
.login-wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.row.login {
    justify-content: space-between;
    padding: 160px 100px;
    width: 920px;
}

.login__image {
    width: 315px;
}

.login__title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 55px;
    text-align: center;
}

.login__form-wrapper {
    width: 290px;
}

.login__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login__btn {
    margin-top: 20px;
    outline: none;
    width: 100%;
}

/* COLLAPSIBLE */
.collapsible {
    overflow: hidden;
}

.collapsible--expanded .collapsible__items {
    max-height: 100vh;
    opacity: 1;
    transition: all 0.4s;
}
.collapsible__items {
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
}

/* SIDEBAR */
.sidebar {
    background: var(--white);
    float: left;
    height: 100vh;
    width: 280px;
}

.sidebar__items {
    list-style: none;
    padding-left: 0;
}

.sidebar__item {
    align-items: center;
    border-left: 3px solid transparent;
    color: #54467a;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    padding: 14px 35px 14px 15px;
    text-decoration: none;
    transition: all 0.4s;
    width: 280px; /* FIX IT */
}

.sidebar__icon {
    margin-right: 10px;
}

.sidebar__item .collapsible__icon {
    margin-left: auto;
}

.sidebar__item.active,
.sidebar__item:hover {
    background: var(--background-color);
    border-left: 3px solid var(--primary-color);
    color: var(--primary-color);
}